body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-field {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#submit-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}
