body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f8f8f8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #fff582;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#duckLogo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#duckLogo:hover {
  transform: rotate(360deg);
  transition: transform 1s;
}

section {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px auto;
}

#textAreaInput {
  width: 50%;
  height: 200px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#sendButton {
  background-color: #fcec3a;
  color: black;
  font-weight: bold;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#duckText {
  font-size: 1.5em;
  font-weight: bolder;
  color: #555;
  margin: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 60px;
}

.button-container h3 {
  margin-right: 20px;
}

.logo-container button {
  background-color: red;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.header-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 10px;
  background-color: #eeeeee;
  border: 1px solid #000;
}

.visible {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
}

.hidden {
  display: none;
}
